<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-if="agentProductViewCtrl.isPC">
	<div class="role-content" style="height:auto;padding-bottom:50px;">
		<div class="account-title">产品管理</div>
		<div class="account-line"></div>
		<div class="account-search">
			<input class="account-searchInput" placeholder="请输入产品名" ng-model="agentProductViewCtrl.keywords">
			<div class="account-searchBtn" ng-click="agentProductViewCtrl.search()">搜索</div>
		</div>
		<div style="botn:clear"></div>
		<div class="account-table">
			<div class="table_captions">
				<div class="table_caption product-one"></div>
				<div class="table_caption product-two">产品名</div>
				<div class="table_caption product-three">描述</div>
				<div class="table_caption product-four">库存</div>
				<div class="table_caption product-five">产品图片</div>
				<div class="table_caption product-six">产品类别</div>
				<div class="table_caption product-seven">状态</div>
				<div class="table_caption product-eight">操作</div>
			</div>
			<!-- <div class="account-deleteBtn">
				<div>
					<div class="account-selectAll" ng-click="agentProductViewCtrl.selectAllChange()"><span ng-show="agentProductViewCtrl.isSelectAll">√</span></div>
					<div class="account-selectAllWord" ng-click="agentProductViewCtrl.selectAllChange('true')">全选</div>
					<div class="account-deleteWord" ng-click="agentProductViewCtrl.destoryProduct()">删除</div>
					<div style="botn:clear"></div>
				</div>
			</div> -->
			<div class="table_contents2" ng-repeat="product in agentProductViewCtrl.products">
				<div class="table_content2 product-one"></div>
				<div class="table_content2 product-two"><span ng-bind="product.name">特级代理</span></div>
				<div class="table_content2 product-three"><span ng-bind="product.description">特级代理</span></div>
				<div class="table_content2 product-four"><span style="color:#f86701" ng-bind="product.quantity || '暂无库存'">库存</span></div>
				<div class="table_content2 product-five"><img class="product-productImg" ng-src="{{agentProductViewCtrl.imageFile+product.image}}" ng-show="product.image"></div>
				<div class="table_content2 product-six"><span ng-bind="product.state == 1 ? '普通产品':'主推产品'">普通产品</span></div>
				<div class="table_content2 product-seven">
					<div class="product-active" ng-show="product.isActive"></div>
					<div class="product-unactive" ng-hide="product.isActive"></div>
				</div>
				<div class="table_content2 product-eight">
					<div>
						<div class="product-update" ui-sref="agent-product-edit({id:product._id})">查看</div>
						<!-- <div class="product-activeBtn" ng-bind="product.isActive?'下架':'上架'" ng-click="agentProductViewCtrl.changeState(product)"></div> -->
					</div>
				</div>
			</div>
			<!-- <div class="table_contents2">
				<div class="product-addNewImg" ui-sref="admin-product-add"></div>
				<div class="product-addNewWord">添加新商品</div>
			</div> -->
			<pagination style="float:right;margin-right:30px;" ng-if="agentProductViewCtrl.pagination.numPages > 1" total-items="agentProductViewCtrl.pagination.totalItems" ng-model="agentProductViewCtrl.pagination.page" items-per-page="agentProductViewCtrl.pagination.itemsPerPage" max-size="agentProductViewCtrl.pagination.maxSize" boundary-links="{{agentProductViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="agentProductViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="agentProductViewCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>

<div class="mb_productBox mobile-content" ng-if="!agentProductViewCtrl.isPC">
	<!-- 列表 -->
	<div>
		<div class="mb_product_title">
			产品管理
			<div class="mb-product-searchbox">
				<input class="mb-product-searchInput" placeholder="请输入产品名" ng-model="agentProductViewCtrl.keywords">
				<div class="mb-product-searchBtn" ng-click="agentProductViewCtrl.search()">搜索</div>
				<!-- <img src="assets/images/mobile/mb_addpr.png" class="mb_addpr" ui-sref="admin-product-add"> -->
			</div>
			
			<!-- 右侧栏加入搜索框 -->
		</div>
		<div class="mb_product_content" ng-repeat="product in agentProductViewCtrl.products">
			<div class="mb_product_sign">
				<div class="mb_product_image_cell">
					<img ng-src="{{agentProductViewCtrl.imageFile+product.image}}" ng-show="product.image">
				</div>
				<div class="hidden-text mb_product_info_cell">
					<div class="mb_product_info_name" ng-bind="product.name">
						名字
					</div>
					<div class="mb_product_info_des" ng-bind="product.description">
						描述
					</div>
				</div>
				<!-- <div >
					下架
				</div> -->
				<div class="mb_product_info_active" ng-bind="product.isActive?'上架中':'未上架'">
					上架中
				</div>
				<!-- <div class="{{product.isActive?'mb_product_info_active_down':'mb_product_info_active_up'}}" ng-bind="product.isActive?'下架':'上架'" ng-click="agentProductViewCtrl.changeState(product)">
					下架
				</div> -->
				<div class="mb-product-nextBtn" ui-sref="agent-product-edit({id:product._id})"></div>
				<div style="clear:both"></div>
			</div>
			<pagination style="float:right;margin-right:30px;" ng-if="agentProductViewCtrl.pagination.numPages > 1" total-items="agentProductViewCtrl.pagination.totalItems" ng-model="agentProductViewCtrl.pagination.page" items-per-page="agentProductViewCtrl.pagination.itemsPerPage" max-size="agentProductViewCtrl.pagination.maxSize" boundary-links="{{agentProductViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="agentProductViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="agentProductViewCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>
