<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content">
	<div class="role-content">
		<div class="account-title">账户管理->编辑</div>
		<div class="account-line"></div>
		<div class="role-table">
			<div class="table_captions">
				<div class="table_caption role-one">名称</div>
				<div class="table_caption role-two">要求数量</div>
				<div class="table_caption role-three">代理价格</div>
			</div>
			<div class="table_contents" ng-repeat="role in adminRoleViewCtrl.roles">
				<div class="table_content role-one"><span style="color:#3c8d04" ng-bind="role.name">特级代理</span></div>
				<div class="table_content role-two">
					<div ng-hide="role.showEditQuantity">
						<span style="float:left;color:#2e68c0" ng-bind="role.requireQuantity">300</span>
						<div class="role-editImg" ng-click="role.showEditQuantity=true"></div>
					</div>
					<div ng-show="role.showEditQuantity">
						<input type="text" class="role-quantityInput" ng-model="role.editQuantity">
						<div class="role-btns">
							<div class="role-saveBtn" ng-click="adminRoleViewCtrl.submitQuantity(role)">确认</div>
							<div class="role-cancelBtn" ng-click="role.showEditQuantity=false">取消</div>
						</div>
					</div>
				</div>
				<div class="table_content role-three">
					<div ng-hide="role.showEditPrice">
						<span style="float:left;color:#f86701" ng-bind="role.primeCost">2600</span>
						<div class="role-editImg" ng-click="role.showEditPrice=true"></div>
					</div>
					<div ng-show="role.showEditPrice">
						<input type="text" class="role-quantityInput" ng-model="role.editPrice">
						<div class="role-btns">
							<div class="role-saveBtn" ng-click="adminRoleViewCtrl.submitPrice(role)">确认</div>
							<div class="role-cancelBtn" ng-click="role.showEditPrice=false">取消</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
