<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-if="agentEventViewCtrl.isPC">
	<div class="role-content" style="height:auto;padding-bottom:70px;">
		<div class="account-title">事件管理</div>
		<div class="account-line"></div>
		<div class="role-table">
			<div class="table_captions">
				<div class="table_caption event-one"></div>
				<div class="table_caption event-two">姓名</div>
				<div class="table_caption event-three">事件</div>
				<div class="table_caption event-four">时间</div>
				<div class="table_caption event-five">是否已读</div>
			</div>
			<div class="account-deleteBtn">
				<div ng-hide="agentEventViewCtrl._info!=agentEventViewCtrl.user._info._id">
					<div class="account-selectAll" ng-click="agentEventViewCtrl.selectAllChange()"><span ng-show="agentEventViewCtrl.isSelectAll">√</span></div>
					<div class="account-selectAllWord" ng-click="agentEventViewCtrl.selectAllChange('true')">全选</div>
					<div class="account-deleteWord" style="width: 70px;" ng-click="agentEventViewCtrl.readAll()">设为已读</div>
					<div style="botn:clear"></div>
				</div>
			</div>
			<div class="table_contents" ng-repeat="ev in agentEventViewCtrl.events">
				<div class="table_content event-one"><div ng-hide="agentEventViewCtrl._info!=agentEventViewCtrl.user._info._id" class="account-selectAll" ng-click="ev.isSelect=!ev.isSelect;agentEventViewCtrl.isSelectAll=false"><span ng-show="ev.isSelect">√</span></div></div>
				<div class="table_content event-two"><span ng-bind="ev._info.name">18806712362</span></div>
				<div class="table_content event-three"><span style="color:#f86701" ng-bind="ev.content">特级代理</span></div>
				<div class="table_content event-four"><span style="color:#2e68c0" ng-bind="ev.createDate | date:'yyyy-mm-dd/hh:MM'">特级代理</span></div>
				<div class="table_content event-five"><span ng-bind="ev.isRead?'已读':'未读'">特级代理</span></div>
			</div>
			<pagination style="float:right;margin-right:30px;" ng-if="agentEventViewCtrl.pagination.numPages > 1" total-items="agentEventViewCtrl.pagination.totalItems" ng-model="agentEventViewCtrl.pagination.page" items-per-page="agentEventViewCtrl.pagination.itemsPerPage" max-size="agentEventViewCtrl.pagination.maxSize" boundary-links="{{agentEventViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="agentEventViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="agentEventViewCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>



<div class="mb_eventBox mobile-content" ng-if="!agentEventViewCtrl.isPC">
	<!-- 列表 -->
	<div>
		<div class="mb_event_title">
			事件管理
		</div>
		<div class="mb_event_content">
			<div class="mb_event_sign" ng-repeat="ev in agentEventViewCtrl.events">
				<div class="mb_event_sign_left">
					<div class="hidden-text mb_event_sign_title" ng-bind="ev._info.name">
						账号名称账号名称账号名称账号名称账号名称账号名称账号名称账号名称账号名称账号名称
					</div>
					<div class="hidden-text mb_event_sign_content" ng-bind="ev.content">
						具体事件具体事件具体事件具体事件具体事件具体事件具体事件具体事件具体事件具体事件
					</div>
				</div>
				<div class="mb_event_sign_right" ng-bind="ev.createDate | date:'yyyy-mm-dd/hh:MM'">
					2016-01-31
				</div>
			</div>
			<pagination style="float:right;margin-right:30px;" ng-if="agentEventViewCtrl.pagination.numPages > 1" total-items="agentEventViewCtrl.pagination.totalItems" ng-model="agentEventViewCtrl.pagination.page" items-per-page="agentEventViewCtrl.pagination.itemsPerPage" max-size="agentEventViewCtrl.pagination.maxSize" boundary-links="{{agentEventViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="agentEventViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="agentEventViewCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>
