body{
	background-color: #f7f7f7;
}
/*account-view*/
.account-header{
	margin-top: 15px;
	width: 1190px;
	height: 186px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;
}
.account-title{
	/*border:1px solid red;*/
	margin-left: 49px;
	margin-top: 22px;
	/*width: 180px;*/
	height: 28px;
	line-height: 28px;
	font-family: PingFangSC;
	font-size: 20px;
	font-weight: 600;
	color: #2e68c0;
}
.account-line{
	margin-left: 49px;
	margin-top: 12px;
	width: 1100px;
	height: 1px;
	background-color: #c7daf3;
}
.account-adminWord{
	float: left;
	margin-left: 49px;
	margin-top: 22px;
	width: 76px;
	height: 76px;
	border-radius: 76px;
	background-color: #2e67c1;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	line-height: 74px;
}
.account-btnGroup{
	float: left;
	margin-left: 19px;
	margin-top: 51px;
	width: 384px;
	height: 28px;
}
.account-btn{
	float: left;
	margin-left: 30px;
	width: 98px;
	height: 28px;
	border-radius: 9px;
	background-color: #2e67c1;
 	line-height: 26px;
 	text-align: center;
 	font-family: PingFangSC;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
}

.account-list{
	margin-top: 15px;
	width: 1190px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;
}
.account-search{
	margin-top: 26px;
	margin-left: 872px;
}
.account-searchInput{
	float: left;
	width: 230px;
	height: 30px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #9b9b9b;
	text-indent: 9px;
	color: #000;
}
.account-searchBtn{
	float: left;
	width: 53px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: PingFangSC;
	font-size: 14px;
	color: #535353;
	cursor: pointer;
}
.account-table{
	width: 1120px;
	margin: 86px auto 30px;
}
.account-one{
	width: 77px;
}
.account-two{
	width: 167px;
}
.account-three{
	width: 103px;
}
.account-four{
	width: 146px;
}
.account-five{
	width: 117px;
}
.account-six{
	width: 81px;
}
.account-seven{
	width: 107px;
}
.account-eight{
	width: 312px;
}

.account-deleteBtn{
	height: 60px;
	border-bottom: solid 1px #ebebeb;
}
.account-selectAll{
	float: left;
	margin-left: 17px;
	margin-top: 20px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #979797;
	cursor: pointer;
	line-height: 20px;
	text-indent: 5px;
	color: #000;
}
.account-selectAllWord,
.account-deleteWord{
	float: left;
	margin-left: 9px;
	margin-top: 20px;
	width: 28px;
	height: 20px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #535353;
	cursor: pointer;
}
.account-deleteWord{
	margin-left: 27px;
}
.account-changePassword{
	float: left;
	width: 56px;
	height: 20px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #2e68c0;
	cursor: pointer;
}
.account-changeUpdate{
	float: left;
	margin-left: 16px;
	width: 70px;
	height: 20px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #2e68c0;
	cursor: pointer;
}
.account-changeOutput{
	float: left;
	margin-left: 23px;
	margin-top: 18px;
	width: 60px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	border-radius: 4px;
	background-color: #2e67c1;
	font-family: PingFangSC;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	cursor: pointer;
}
/*account-add*/
.account-addPosition{
	margin-top: 15px;
	width: 1190px;
	height: 608px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;
}
.account-inputs{
	/*border:1px solid red;*/
	margin-top: 122px;
	margin-left: 377px;
	height: 329px;
}
.account-save{
	float: left;
	margin-top: 32px;
	margin-left: 103px;
	width: 150px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 5px;
	background-color: #5389dd;
	font-family: PingFangSC;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	cursor:pointer;
}
.account-back{
	float: left;
	margin-top: 32px;
	margin-left: 27px;
	width: 40px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: PingFangSC;
	font-size: 20px;
	color: #2e68c0;
	cursor: pointer;
}
/*account-out*/
.account-selectBox{
	float: left;
	width: 130px;
}
.account-selectBtn{
	float: right;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #5389dd;
	color:#fff;
	font-weight: 600;
	cursor: pointer;
}
.account-selectChooses{
	position: absolute;
	top:37px;
	left: 105px;
	margin-left: 20px;
	width: 168px;
	height: 76px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #d4d4d4;
	text-indent: 14px;
	font-size: 16px;
	color: #535353;
}
.account-selectChoose{
	width: 168px;
	height: 38px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #d4d4d4;
	border-top: none;
	text-indent: 14px;
	font-size: 16px;
	color: #535353;
	cursor: pointer;
}



/*mobile*/
.mb-account-head{
	height: 170px;
	background: #0095e5;
}
.mb-account-role{
	float: left;
	margin-top: 18px;
	margin-left: 23px;
	width: 134px;
	height: 134px;
	border:5px solid #fff;
	border-radius: 134px;
	line-height: 129px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-weight: 600;
	font-family: PingFangSC;
	background: #007dc2;
}
.mb-account-name{
	float: left;
	margin-left: 36px;
	height: 170px;
	line-height: 170px;
	color: #fff;
	font-size: 26px;
	font-family: PingFangSC;
	font-weight: 600;
}
.mb-account-btns{
	height: 120px;
	background: #fff;
}
.mb-account-btns div{
	margin-top: 15px;
	float: left;
	width: 250px;
	height: 90px;
	border-right: 1px solid #d9d9d9;
	text-align: center;
	line-height: 90px;
	font-size: 20px;
	font-family: PingFangSC;
	font-weight: 600;
	color: #282828;
}
.mb-account-add{
	background: url(../../assets/images/mobile/add.png) no-repeat 106px 62px;
}
.mb-account-password{
	background: url(../../assets/images/mobile/passwords.png) no-repeat 106px 62px;
}
.mb-account-bin{
	background: url(../../assets/images/mobile/bin.png) no-repeat 106px 62px;
}
.mb-account-personal{
	background: url(../../assets/images/mobile/name.png) no-repeat 106px 62px;
}
.mb-account-title{
	margin-top: 20px;
	height: 98px;
	background:#fff url(../../assets/images/mobile/account2.png) no-repeat 20px 32px;
	line-height: 98px;
	text-indent: 90px;
	font-size: 20px;
	font-family: PingFangSC;
	font-weight: 600;
	color: #282828;
	position: relative;
}
.mb-account-table{
	margin-top: 20px;
	border-top:1px solid #d9d9d9;
	background: #fff;
}
.mb-account-tr{
	height: 98px;
	border-bottom:1px solid #d9d9d9;
}
.mb-account-one{
	margin-top: 10px;
	float: left;
	width: 300px;
	text-indent: 24px;
	font-size: 20px;
	font-family: PingFangSC;
	font-weight: 600;
	color: #282828;
}
.mb-account-agentName{
	height: 39px;
	line-height: 39px;
}
.mb-account-agentRole{
	height: 39px;
	line-height: 39px;
	color: #3c8d04;
}
.mb-account-out{
	float: left;
	margin-top: 20px;
	height: 58px;
	width: 140px;
	border-radius: 5px;
	line-height: 58px;
	text-align: center;
	font-size: 26px;
	font-family: PingFangSC;
	font-weight: 600;
	color: #fff;
	background: #007dc2;
}
.mb-account-nextBtn{
	/*border:1px solid red;*/
	float: right;
	width: 150px;
	height: 96px;
	background: url(../../assets/images/mobile/detail.png) no-repeat 100px 37px;
	line-height: 98px;
}

.mb-input_contents{
	background: #fff;
	padding-bottom: 50px;
}
.mb-account-addTitlePosition{
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #0095e5;
	font-size: 26px;
	font-family: PingFangSC;
	font-weight: 600;
	color: #fff;
	position: relative;
}
.mb-account-back{
	position: absolute;
	top:37px;
	left: 50px;
	width: 13px;
	height: 24px;
	background: url(../../assets/images/mobile/back.png);
}
.inputBg{
	background: #fff;
}
.mb-account-searchbox{
	position: absolute;
	right:0;
	top:35px;
}
.mb-account-searchInput{
	float: left;
	width: 230px;
	height: 30px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #9b9b9b;
	text-indent: 9px;
	color: #000;
	font-size: 16px;
	float: left;
}
.mb-account-searchBtn{
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border-radius: 8px;
	background-color: #007cc2;
	margin-left: 20px;
	font-size: 16px;
	text-indent: 0;
	text-align: center;
	color: #ffffff;
}


.mb-account-out-box{
	position: relative;
	float: left;
	/*border:1px solid red;*/
	width: 520px;
	height: 68px;
	line-height: 68px;
	font-size: 32px;
	text-indent: 38px;
	background: #fff;
}
.mb-account-out-selectBox{
	float: left;
	/*border:1px solid red;*/
	width: 470px;
	height: 68px;
	line-height: 68px;
	font-size: 32px;
	text-indent: 38px;
	background: #fff;
}
.mb-account-out-selectBtn{
	float: left;
	width: 48px;
	height: 68px;
	background: url(../../assets/images/mobile/up.png) no-repeat 8px 30px;
}
.mb-account-out-selectChooses{
	position: absolute;
	top:75px;
	right: 0px;
	width: 200px;
	border:1px solid #d9d9d9;
	border-bottom: none;
	background: #fff;
}
.mb-account-out-selectChoose{
	height: 60px;
	border-bottom: 1px solid #d9d9d9;
}