.event-one{
	width: 10%;
}
.event-two{
	width: 27%;
}
.event-three{
	width: 27%;
}
.event-four{
	width: 27%;
}
.event-five{
	width: 9%;
}


.admin-infoTitle{
	/*border:1px solid red;*/
	margin-left: 49px;
	margin-top: 22px;
	float: left;
	width: 100px;
	height: 28px;
	line-height: 28px;
	font-family: PingFangSC;
	font-size: 20px;
	/*font-weight: 600;*/
	color: #2e68c0;
	cursor: pointer;
}
.admin-note{
	width: 1190px;
	height: 600px;
	/*border:1px solid red;*/
}
.admin-noteBox{
	margin-top: 20px;
	margin-left:195px; 
	padding: 10px;
	width: 800px;
	height: 500px;
	line-height: 32px;
	font-size: 24px;
	border:1px solid #ccc;
	resize:none
}
.admin-noteSaveBtn{
	margin-top:20px;
	margin-left: 495px;
	width: 200px;
	height: 36px;
	border-radius: 36px;
	background: #2e67c1;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.ellipsis{
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space: nowrap;
	/*作用：将超出部分隐藏为省略号，仅限一行*/
}