body,div,ul,li,ol,p,input{
	border: 0;
	padding: 0;
	margin: 0;
}
input{
	color: #000
}
/*input {outline:none;}*/
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) { select:focus, textarea:focus, input:focus { font-size: 32px !important; } }
a,a:hover{ text-decoration:none;color: #000; }
body {
	color: #000; 
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
	background: #f3f4f8;
}
.border{
	border: 1px solid #000;
}
.content{
	width: 1190px;
	margin: 0 auto;
}
.mobile-content{
	width: 750px;
	padding-bottom: 100px;
	min-height: 1300px;
}

/*表格基本属性*/
.table_captions{
	height: 60px;
	line-height: 60px;
 	background-color: #5389dd;
}
.table_caption{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	font-weight: 600;
	color: #ffffff;
}
.table_contents{
	height: 60px;
	border: solid 1px #ebebeb;
	border-top: none;
}
.table_content{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	color: #535353;	
}
.table_contents:nth-child(odd){
	background: #f5f8fd;
}
.table_contents:nth-child(even){
	background: #fff;
}
/*大表格基本属性*/
.table_contents2{
	height: 100px;
	border: solid 1px #ebebeb;
	border-top: none;
}
.table_content2{
	float: left;
	height: 100px;
	font: 14px/100px PingFangSC; /*size/line-height family*/
	color: #535353;	
}
.table_contents2:nth-child(odd){
	background: #f5f8fd;
}
.table_contents2:nth-child(even){
	background: #fff;
}

/*输入框的基本属性*/
.input_content{
	margin-bottom: 14px;
	height: 38px;
}
.textarea_content{
	margin-bottom: 14px;
	height: 110px;
}
.necessary{
	float: left;
	width: 8px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #ff0000;
}
.input_name{
	float: left;
	margin-left: 2px;
	width: 103px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 16px;
	color: #535353;
}
.input_value{
	float: left;
	margin-left: 20px;
	width: 298px;
	height: 38px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #d4d4d4;
	text-indent: 14px;
	font-size: 16px;
	color: #535353;
}
.textarea_value{
	float: left;
	margin-left: 20px;
	margin-bottom: 14px;
	padding: 8px 14px;
	width: 336px;
	height: 110px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #d4d4d4;
	resize : none;
	font-family: PingFangSC;
	font-size: 16px;
	color: #535353;
}
.prompt{
	float: left;
	margin-left: 13px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 16px;
	color: #9b9b9b;
}
.hidden-text{
   white-space:nowrap;
   text-overflow:ellipsis;
   overflow:hidden;
   -o-text-overflow: ellipsis
}