body,div,ul,li,ol,p,input{
	border: 0;
	padding: 0;
	margin: 0;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
a,a:hover{ text-decoration:none;color: #000; }
body {
	color: #fff; 
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
}
.border{
	border: 1px solid #000;
}
.content{
	width: 1190px;
	margin: 0 auto;
}

/*表格基本属性*/
.table_captions{
	height: 60px;
	line-height: 60px;
 	background-color: #5389dd;
}
.table_caption{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	font-weight: 600;
	color: #ffffff;
}
.table_contents{
	height: 60px;
	border: solid 1px #ebebeb;
	border-top: none;
}
.table_content{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	color: #535353;	
}
.table_contents:nth-child(odd){
	background: #f5f8fd;
}
.table_contents:nth-child(even){
	background: #fff;
}