body,div,ul,li,ol,p,input{
	border: 0;
	padding: 0;
	margin: 0;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
a,a:hover{ text-decoration:none;color: #000; }
body {
	color: #fff; 
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
}
.border{
	border: 1px solid #000;
}
.content{
	width: 1190px;
	margin: 0 auto;
}

/*表格基本属性*/
.table_captions{
	height: 60px;
	line-height: 60px;
 	background-color: #5389dd;
}
.table_caption{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	font-weight: 600;
	color: #ffffff;
}
.table_contents{
	height: 60px;
	border: solid 1px #ebebeb;
	border-top: none;
}
.table_content{
	float: left;
	height: 60px;
	font: 14px/60px PingFangSC; /*size/line-height family*/
	color: #535353;	
}
.table_contents:nth-child(odd){
	background: #f5f8fd;
}
.table_contents:nth-child(even){
	background: #fff;
}

/*输入框的基本属性*/
.input_content{
	margin-bottom: 14px;
	height: 38px;
}
.necessary{
	float: left;
	width: 8px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #ff0000;
}
.input_name{
	float: left;
	margin-left: 2px;
	width: 103px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 16px;
	color: #535353;
}
.input_value{
	float: left;
	margin-left: 20px;
	width: 298px;
	height: 38px;
	line-height: 36px;
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #d4d4d4;
	text-indent: 14px;
	font-size: 16px;
	color: #535353;
}
.prompt{
	float: left;
	margin-left: 13px;
	line-height: 36px;
	font-family: PingFangSC;
	font-size: 16px;
	color: #9b9b9b;
}