.product-one,
.product-eighht{
	width: 14%;
}
.product-two,
.product-three,
.product-four,
.product-five,
.product-six,
.product-seven{
	width: 12%;
}
.product-selectAll{
	float: left;
	margin-left: 17px;
	margin-top: 40px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #979797;
}
.product-productImg{
	margin-top: 20px;
	width: 60px;
	height: 60px;
	background-color: #c7daf3;
}
.product-active{
	margin-top: 40px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: url(../../assets/images/unactive.png) no-repeat;
}
.product-unactive{
	margin-top: 40px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: url(../../assets/images/unactive.png) no-repeat;
}
.product-update{
	float: right;
	width: 70px;
	height: 20px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #2e68c0;
	cursor: pointer;
}
.product-activeBtn{
	float: right;
	margin-right: 25px;
	width: 28px;
	height: 20px;
	font-family: PingFangSC;
	font-size: 14px;
	color: #2e68c0;
	cursor: pointer;
}
.product-addNewWord{
	float: right;
	margin-top: 39px;
	margin-right: 16px;
	width: 80px;
	height: 22px;
	font-family: PingFangSC;
	font-size: 16px;
	font-weight: 600;
	color: #2e68c0;
}
.product-addNewImg{
	float: right;
	margin-top: 20px;
	margin-right: 64px;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background: url(../../assets/images/add.png);
	cursor: pointer;
}
/*product-add*/
.product-addPosition{
	margin-top: 15px;
	width: 1190px;
	height: 791px;
	background-color: #ffffff;
	border: solid 1px #ebebeb;
}
.product-submitImg{
	float: left;
	margin-left: 20px;
	width: 60px;
  	height: 60px;
  	background: url(../../assets/images/productImage.png) no-repeat;
}
.product-submitPrompt{
	float: left;
	margin-left: 16px;
	margin-top: 38px;
	margin-bottom: 14px;
	width: 64px;
	height: 22px;
	font-family: PingFangSC;
	font-size: 16px;
	color: #9b9b9b;
	cursor: pointer;
}