body,div,ul,li,ol,p,input{
	border: 0;
	padding: 0;
	margin: 0;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
a,a:hover{ text-decoration:none;color: #000; }
body {
	color: #fff; 
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,宋体;
}
.border{
	border: 1px solid #000;
}
.hidden-text{
   white-space:nowrap;
   white-space:nowrap;
   text-overflow:ellipsis;
   overflow:hidden;
}