<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-if="adminAccountEditCtrl.isPC">
	<div class="account-addPosition">
		<div class="account-title">账户管理->修改子账号</div>
		<div class="account-line"></div>
		<div class="account-inputs">
			<div class="input_content">
				<div class="input_name"><span class="necessary" style="color:#fff">*</span>账号名:</div>
				<div type="text" class="input_value" style="border:none" ng-bind="adminAccountEditCtrl.agent.account">18806712362</div>
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary" style="color:#fff">*</span>角色:</div>
				<div type="text" class="input_value" style="border:none" ng-bind="adminAccountEditCtrl.agent.level">一级代理</div>
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>姓名:</div>
				<input type="text" class="input_value" ng-model="adminAccountEditCtrl.agent.name">
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>联系号码:</div>
				<input type="text" class="input_value" ng-model="adminAccountEditCtrl.agent.tel">
			</div>
			<div>
				<div class="account-save" ng-click="adminAccountEditCtrl.save()">确认修改</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
	</div>
</div>


<div class="mobile-content" ng-if="!adminAccountEditCtrl.isPC">
	<div class="mb-account-addTitlePosition">
		<div class="mb-account-back" ui-sref="admin-account-view"></div>
		<div class="mb-account-addTitle">修改账号</div>
	</div>
	<div class="mb-input_contents">
		<div class="mb_role_edit_name">
			<div class="mb_role_edit_key">
				账号名
			</div>
			<div class="mb_role_edit_value" ng-bind="adminAccountEditCtrl.agent.account">
				一级代理
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name">
			<div class="mb_role_edit_key">
				角色
			</div>
			<div class="mb_role_edit_value" ng-bind="adminAccountEditCtrl.agent.level">
				一级代理
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				姓名*
			</div>
			<input class="inputBg" type="text" ng-model="adminAccountEditCtrl.agent.name">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				联系号码*
			</div>
			<input class="inputBg" type="text" ng-model="adminAccountEditCtrl.agent.tel">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_submit" ng-click="adminAccountEditCtrl.save()">
			确认修改
		</div>
		<div class="mb_role_submit" ng-click="adminAccountEditCtrl.destory()" style="background:red">
			删除
		</div>
	</div>
</div>