<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-if="adminAccountViewCtrl.isPC">
	<div class="account-header">
		<div class="account-title">账户管理</div>
		<div class="account-line"></div>
		<div>
			<div class="account-adminWord">{{adminAccountViewCtrl.user.role=='admin'?'Admin':'subAdmin'}}</div>
			<div class="account-btnGroup">
				<div class="account-btn" ui-sref="admin-account-add">{{adminAccountViewCtrl.user.role=='admin'?'添加子账号':'添加账号'}}</div>
				<div class="account-btn" ui-sref="admin-account-changePassword({state:'own'})">密码管理</div>
				<div class="account-btn" ui-sref="admin-account-bin" ng-show="adminAccountViewCtrl.showBinshow">账号回收站</div>
				<div style="botn:clear"></div>
			</div>
		</div>
	</div>
	<div class="account-list" style="padding-bottom:50px;">
		<div class="account-search">
			<input class="account-searchInput" placeholder="请输入账号或姓名" ng-model="adminAccountViewCtrl.keywords">
			<div class="account-searchBtn" ng-click="adminAccountViewCtrl.search()">搜索</div>
		</div>
		<div style="botn:clear"></div>
		<div class="account-table">
			<div class="table_captions">
				<div class="table_caption account-one"></div>
				<div class="table_caption account-two">账号</div>
				<div class="table_caption account-three">角色</div>
				<div class="table_caption account-four">姓名</div>
				<div class="table_caption account-five">联系号码</div>
				<div class="table_caption account-two-push">推荐人</div>
				<div class="table_caption account-six">销售收益</div>
				<div class="table_caption account-seven">返利收益</div>
				<div class="table_caption account-eight">操作</div>
			</div>
			<div class="account-deleteBtn">
				<div>
					<div class="account-selectAll" ng-click="adminAccountViewCtrl.selectAllChange()"><span ng-show="adminAccountViewCtrl.isSelectAll">√</span></div>
					<div class="account-selectAllWord" ng-click="adminAccountViewCtrl.selectAllChange('true')">全选</div>
					<div class="account-deleteWord" ng-click="adminAccountViewCtrl.destoryAccount()">删除</div>
					<div style="botn:clear"></div>
				</div>
			</div>
			<div class="table_contents" ng-repeat="agent in adminAccountViewCtrl.agents">
				<div class="table_content account-one"><div class="account-selectAll" ng-click="agent.isSelect=!agent.isSelect;adminAccountViewCtrl.isSelectAll=false"><span ng-show="agent.isSelect">√</span></div></div>
				<div class="table_content account-two" ng-bind="agent.account">18806712362</div>
				<div class="table_content account-three"><span style="color:#3c8d04" ng-bind="agent.level">特级代理</span></div>
				<div class="table_content account-four"><span ng-bind="agent._info.name?agent._info.name:agent.name">阿夏</span></div>
				<div class="table_content account-five"><span ng-bind="agent._info.tel?agent._info.tel:agent.tel">18806712362</span></div>
				<div class="table_content account-two-push"><span ng-bind="agent.creatorName">18806712362</span></div>
				<div class="table_content account-six"><span ng-bind="agent._info.saleIncome?agent._info.saleIncome:'无'" style="color:#f86701">1500</span></div>
				<div class="table_content account-seven"><span ng-bind="agent._info.income?agent._info.income:'无'" style="color:#f86701">3000</span></div>
				<div class="table_content account-eight">
					<div>
						<div class="account-changePassword" ui-sref="admin-account-changePassword({id:agent._id,state:'other'})">修改密码</div>
						<div class="account-changeUpdate" ui-sref="admin-account-edit({id:agent._id})">查看/修改</div>
						<div class="account-changeOutput" ui-sref="admin-event-view{{agent.level=='子账号'?'({belong:agent._id})':'({_info:agent._info._id})'}}" >动态</div>
						<div class="account-changeOutput" ui-sref="admin-account-out({id:agent._id})" ng-hide="agent.level=='子账号'">发货</div>
					</div>
				</div>
			</div>
			<pagination style="float:right;margin-right:30px;" ng-if="adminAccountViewCtrl.pagination.numPages > 1" total-items="adminAccountViewCtrl.pagination.totalItems" ng-model="adminAccountViewCtrl.pagination.page" items-per-page="adminAccountViewCtrl.pagination.itemsPerPage" max-size="adminAccountViewCtrl.pagination.maxSize" boundary-links="{{adminAccountViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="adminAccountViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="adminAccountViewCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>

<div class="mobile-content" ng-if="!adminAccountViewCtrl.isPC">
	<div class="mb-account-head">
		<div class="mb-account-role">{{adminAccountViewCtrl.user.role=='admin'?'Admin':'subAdmin'}}</div>
		<!-- <div class="mb-account-name">账号名称</div> -->
	</div>
	<div class="mb-account-btns">
		<div class="mb-account-add" ui-sref="admin-account-add">{{adminAccountViewCtrl.user.role=='admin'?'添加子账号':'添加账号'}}</div>
		<div class="mb-account-password" ui-sref="admin-account-changePassword({state:'own'})">密码管理</div>
		<div class="mb-account-bin" style="border-right:none" ui-sref="admin-account-bin" ng-show="adminAccountViewCtrl.showBinshow">账号回收站</div>
	</div>
	<div class="mb-account-title">
		账号管理
		<div class="mb-account-searchbox">
			<input class="mb-account-searchInput" placeholder="请输入账号或姓名" ng-model="adminAccountViewCtrl.keywords">
			<div class="mb-account-searchBtn" ng-click="adminAccountViewCtrl.search()">搜索</div>
		</div>
	</div>
	<div class="mb-account-table">
		<div class="mb-account-tr" ng-repeat="agent in adminAccountViewCtrl.agents">
			<div class="mb-account-one">
				<div class="mb-account-agentName" ng-bind="agent._info.name?(agent._info.name+'('+agent.account+')'):(agent.name+'('+agent.account+')')">name</div>
				<div class="mb-account-agentRole" ng-bind="agent.level">role</div>
				<div class="mb-account-agentName" ng-bind="'销售收益:'+(agent._info.saleIncome?agent._info.saleIncome:'无')">role</div>
				<div class="mb-account-agentName" ng-bind="'返利收益:'+(agent._info.income?agent._info.income:'无')">role</div>
			</div>
			<div class="mb-account-out" ui-sref="admin-event-view{{agent.level=='子账号'?'({belong:agent._id})':'({_info:agent._info._id})'}}" style="margin-right:10px;">动态</div>
			<div class="mb-account-out" ui-sref="admin-account-out({id:agent._id})" ng-hide="agent.level=='子账号'">发货</div>
			<div class="mb-account-nextBtn" ui-sref="admin-account-edit({id:agent._id})"></div>
		</div>
	</div>	
	<pagination style="float:right;margin-right:30px;" ng-if="adminAccountViewCtrl.pagination.numPages > 1" total-items="adminAccountViewCtrl.pagination.totalItems" ng-model="adminAccountViewCtrl.pagination.page" items-per-page="adminAccountViewCtrl.pagination.itemsPerPage" max-size="adminAccountViewCtrl.pagination.maxSize" boundary-links="{{adminAccountViewCtrl.pagination.numPages > 2}}" rotate="false" num-pages="adminAccountViewCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="adminAccountViewCtrl.pageChanged()"></pagination>

	<div class="mb_role_submit" ng-click="adminAccountViewCtrl.logout()" style="background:red;margin-top:80px;">
		退出登录
	</div>
</div>
