<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-show="false">
	<div class="account-addPosition">
		<div class="account-title">账户管理->添加子账号</div>
		<div class="account-line"></div>
		<div class="account-inputs">
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>账号名:</div>
				<input type="text" class="input_value" ng-model="adminAccountAddCtrl.accountInfo.account">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>姓名:</div>
				<input type="text" class="input_value" ng-model="adminAccountAddCtrl.accountInfo.name">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>联系号码:</div>
				<input type="text" class="input_value" ng-model="adminAccountAddCtrl.accountInfo.tel">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>密码:</div>
				<input type="password" class="input_value" ng-model="adminAccountAddCtrl.accountInfo.password">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>重复密码:</div>
				<input type="password" class="input_value" ng-model="adminAccountAddCtrl.accountInfo.rePassword">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div>
				<div class="account-save" ng-click="adminAccountAddCtrl.create()">保存</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
	</div>
</div>

<div class="mobile-content" ng-show="true">
	<div class="mb-account-addTitlePosition">
		<div class="mb-account-back" ui-sref="admin-account-view"></div>
		<div class="mb-account-addTitle">添加账号</div>
	</div>
	<div class="mb-input_contents">
		<div class="mb_role_edit_name">
			<div class="mb_role_edit_key">
				创建人
			</div>
			<div class="mb_role_edit_value" ng-bind="adminAccountAddCtrl.user.role">
				一级代理
			</div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				账号*
			</div>
			<input class="inputBg" type="text" ng-model="adminAccountAddCtrl.accountInfo.account">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				姓名*
			</div>
			<input class="inputBg" type="text" ng-model="adminAccountAddCtrl.accountInfo.name">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				联系号码*
			</div>
			<input class="inputBg" type="text" ng-model="adminAccountAddCtrl.accountInfo.tel">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				密码*
			</div>
			<input class="inputBg" type="password" ng-model="adminAccountAddCtrl.accountInfo.password">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				重复密码*
			</div>
			<input class="inputBg" type="password" ng-model="adminAccountAddCtrl.accountInfo.rePassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_submit" ng-click="adminAccountAddCtrl.create()">
			确认添加
		</div>
	</div>
</div>