<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content">
	<div class="account-addPosition">
		<div class="account-title">账户管理->添加子账号</div>
		<div class="account-line"></div>
		<div class="account-inputs">
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>账号名:</div>
				<input type="text" class="input_value" ng-model="adminAccountAddCtrl.subAdmin.account">
				<span class="prompt">英文字母开头</span>
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>姓名:</div>
				<input type="text" class="input_value" ng-model="adminAccountAddCtrl.subAdmin.name">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<!-- <div class="input_content">
				<div class="input_name"><span class="necessary">*</span>联系号码:</div>
				<input type="text" class="input_value">
				<span class="prompt">英文字母开头</span>
			</div> -->
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>密码:</div>
				<input type="password" class="input_value" ng-model="adminAccountAddCtrl.subAdmin.password">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>重复密码:</div>
				<input type="password" class="input_value" ng-model="adminAccountAddCtrl.subAdmin.confirmPassword">
				<!-- <span class="prompt" ng-show="adminAccountAddCtrl.errPassword">密码不一致</span> -->
			</div>
			<div>
				<div class="account-save" ng-click="adminAccountAddCtrl.save()">保存</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
	</div>
</div>