<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-show="false">
	<div class="account-list">
		<div class="account-search">
			<input class="account-searchInput" placeholder="请输入账号或姓名" ng-model="adminAccountBinCtrl.keywords">
			<div class="account-searchBtn" ng-click="adminAccountBinCtrl.search()">搜索</div>
		</div>
		<div style="botn:clear"></div>
		<div class="account-table">
			<div class="table_captions">
				<div class="table_caption account-one"></div>
				<div class="table_caption account-two">已删账号</div>
				<div class="table_caption account-three">角色</div>
				<div class="table_caption account-four">姓名</div>
				<div class="table_caption account-five">联系号码</div>
				<div class="table_caption account-six">销售收益</div>
				<div class="table_caption account-seven">返利收益</div>
				<div class="table_caption account-eight">操作</div>
			</div>
			<div class="account-deleteBtn">
				<div>
					<div class="account-selectAll" ng-click="adminAccountBinCtrl.selectAllChange()"><span ng-show="adminAccountBinCtrl.isSelectAll">√</span></div>
					<div class="account-selectAllWord" ng-click="adminAccountBinCtrl.selectAllChange('true')">全选</div>
					<div class="account-deleteWord" ng-click="adminAccountBinCtrl.recoveryAccount()">恢复</div>
					<div style="botn:clear"></div>
				</div>
			</div>
			<div class="table_contents" ng-repeat="agent in adminAccountBinCtrl.agents">
				<div class="table_content account-one"><div class="account-selectAll" ng-click="agent.isSelect=!agent.isSelect;adminAccountBinCtrl.isSelectAll=false"><span ng-show="agent.isSelect">√</span></div></div>
				<div class="table_content account-two" ng-bind="agent.account">18806712362</div>
				<div class="table_content account-three"><span style="color:#3c8d04" ng-bind="agent.level">特级代理</span></div>
				<div class="table_content account-four"><span ng-bind="agent._info.name?agent._info.name:agent.name">阿夏</span></div>
				<div class="table_content account-five"><span ng-bind="agent._info.tel?agent._info.tel:agent.tel">18806712362</span></div>
				<div class="table_content account-six"><span ng-bind="agent._info.saleIncome?agent._info.saleIncome:'无'" style="color:#f86701">1500</span></div>
				<div class="table_content account-seven"><span ng-bind="agent._info.income?agent._info.income:'无'" style="color:#f86701">3000</span></div>
				<div class="table_content account-eight">
					<div>
						<div class="account-changePassword" ui-sref="admin-account-changePassword({id:agent._id,state:'other'})">修改密码</div>
						<div class="account-changeUpdate" ui-sref="admin-account-edit({id:agent._id})">查看/修改</div>
					</div>
				</div>
			</div>
			<pagination style="float:right;margin-right:30px;" ng-if="adminAccountBinCtrl.pagination.numPages > 1" total-items="adminAccountBinCtrl.pagination.totalItems" ng-model="adminAccountBinCtrl.pagination.page" items-per-page="adminAccountBinCtrl.pagination.itemsPerPage" max-size="adminAccountBinCtrl.pagination.maxSize" boundary-links="{{adminAccountBinCtrl.pagination.numPages > 2}}" rotate="false" num-pages="adminAccountBinCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="adminAccountBinCtrl.pageChanged()"></pagination>
		</div>
	</div>
</div>


<div class="mobile-content" ng-show="true">
	<div class="mb-account-addTitlePosition">
		<div class="mb-account-back" ui-sref="admin-account-view"></div>
		<div class="mb-account-addTitle">账号回收站</div>
	</div>
	<div class="mb-account-table">
		<div class="mb-account-tr" ng-repeat="agent in adminAccountBinCtrl.agents">
			<div class="mb-account-one">
				<div class="mb-account-agentName" ng-bind="agent._info.name?agent._info.name:agent.name">name</div>
				<div class="mb-account-agentRole" ng-bind="agent.level">role</div>
			</div>
			<div class="mb-account-out" style="float:right;margin-right:30px;background:#F5305D;" ng-click="agent.isSelect=true;adminAccountBinCtrl.recoveryAccount();">还原</div>
			<!-- <div class="mb-account-nextBtn" ui-sref="admin-account-edit({id:agent._id})"></div> -->
		</div>
	</div>	
	<pagination style="float:right;margin-right:30px;" ng-if="adminAccountBinCtrl.pagination.numPages > 1" total-items="adminAccountBinCtrl.pagination.totalItems" ng-model="adminAccountBinCtrl.pagination.page" items-per-page="adminAccountBinCtrl.pagination.itemsPerPage" max-size="adminAccountBinCtrl.pagination.maxSize" boundary-links="{{adminAccountBinCtrl.pagination.numPages > 2}}" rotate="false" num-pages="adminAccountBinCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="adminAccountBinCtrl.pageChanged()"></pagination>
</div>