<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content">
	<div class="account-header">
		<div class="account-title">账户管理</div>
		<div class="account-line"></div>
		<div>
			<div class="account-adminWord">Admin</div>
			<div class="account-btnGroup">
				<div class="account-btn" ui-sref="admin-account-add">添加子账号</div>
				<div class="account-btn" ui-sref="admin-account-changePassword({state:'own'})">密码管理</div>
				<div class="account-btn" ui-sref="admin-account-bin">账号回收站</div>
				<div style="botn:clear"></div>
			</div>
		</div>
	</div>
	<div class="account-list">
		<div class="account-search">
			<input class="account-searchInput" placeholder="请输入账号或姓名" ng-model="adminAccountViewCtrl.keywords">
			<div class="account-searchBtn" ng-click="adminAccountViewCtrl.search()">搜索</div>
		</div>
		<div style="botn:clear"></div>
		<div class="account-table">
			<div class="table_captions">
				<div class="table_caption account-one"></div>
				<div class="table_caption account-two">账号</div>
				<div class="table_caption account-three">角色</div>
				<div class="table_caption account-four">姓名</div>
				<div class="table_caption account-five">联系号码</div>
				<div class="table_caption account-six">销售收益</div>
				<div class="table_caption account-seven">返利收益</div>
				<div class="table_caption account-eight">操作</div>
			</div>
			<div class="account-deleteBtn">
				<div>
					<div class="account-selectAll" ng-click="adminAccountViewCtrl.selectAllChange()"><span ng-show="adminAccountViewCtrl.isSelectAll">√</span></div>
					<div class="account-selectAllWord" ng-click="adminAccountViewCtrl.selectAllChange('true')">全选</div>
					<div class="account-deleteWord" ng-click="adminAccountViewCtrl.destoryAccount()">删除</div>
					<div style="botn:clear"></div>
				</div>
			</div>
			<div class="table_contents" ng-repeat="agent in adminAccountViewCtrl.agents">
				<div class="table_content account-one"><div class="account-selectAll" ng-click="agent.isSelect=!agent.isSelect;adminAccountViewCtrl.isSelectAll=false"><span ng-show="agent.isSelect">√</span></div></div>
				<div class="table_content account-two" ng-bind="agent.account">18806712362</div>
				<div class="table_content account-three"><span style="color:#3c8d04" ng-bind="agent.level">特级代理</span></div>
				<div class="table_content account-four"><span ng-bind="agent._info.name?agent._info.name:agent.name">阿夏</span></div>
				<div class="table_content account-five"><span ng-bind="agent._info.tel?agent._info.tel:agent.tel">18806712362</span></div>
				<div class="table_content account-six"><span ng-bind="agent._info.saleIncome?agent._info.saleIncome:'无'" style="color:#f86701">1500</span></div>
				<div class="table_content account-seven"><span ng-bind="agent._info.income?agent._info.income:'无'" style="color:#f86701">3000</span></div>
				<div class="table_content account-eight">
					<div>
						<div class="account-changePassword" ui-sref="admin-account-changePassword({id:agent._id,state:'other'})">修改密码</div>
						<div class="account-changeUpdate" ui-sref="admin-account-edit({id:agent._id})">查看/修改</div>
						<div class="account-changeOutput" ui-sref="admin-account-out">发货</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
