<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content" ng-if="agentAccountPsdCtrl.isPC">
	<div class="account-addPosition">
		<div class="account-title" ng-if="agentAccountPsdCtrl.state=='own'">账户管理->密码管理</div>
		<div class="account-title" ng-if="agentAccountPsdCtrl.state=='other'">账户管理->修改密码</div>
		<div class="account-line"></div>
		<div class="account-inputs" ng-if="agentAccountPsdCtrl.state=='own'">
			<div class="input_content">
				<div class="input_name"><span class="necessary" style="color:#fff">*</span>账号名:</div>
				<div type="text" class="input_value" style="border:none" ng-bind="agentAccountPsdCtrl.user.account">18806712362</div>
			</div>
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>原密码:</div>
				<input type="password" class="input_value" ng-model="agentAccountPsdCtrl.body.oldPassword">
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>新密码:</div>
				<input type="password" class="input_value" ng-model="agentAccountPsdCtrl.body.newPassword">
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>重复新密码:</div>
				<input type="password" class="input_value" ng-model="agentAccountPsdCtrl.body.reNewPassword">
			</div>
			<div>
				<div class="account-save" ng-click="agentAccountPsdCtrl.changePassword('needReNewPassword')">确认修改</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
		<div class="account-inputs" ng-if="agentAccountPsdCtrl.state=='other'">
			<div class="input_content">
				<div class="input_name"><span class="necessary" style="color:#fff">*</span>账号名:</div>
				<div type="text" class="input_value" style="border:none"  ng-bind="agentAccountPsdCtrl.user.account">18806712362</div>
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>密码:</div>
				<input type="password" class="input_value" ng-model="agentAccountPsdCtrl.body.newPassword">
			</div>
			<div>
				<div class="account-save" ng-click="agentAccountPsdCtrl.changePassword()">确认修改</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
	</div>
</div>


<div class="mobile-content" ng-if="!agentAccountPsdCtrl.isPC">
	<div class="mb-account-addTitlePosition">
		<div class="mb-account-back" ui-sref="agent-account-view"></div>
		<div class="mb-account-addTitle">修改密码</div>
	</div>
	<div class="mb-input_contents" ng-if="agentAccountPsdCtrl.state=='own'">
		<div class="mb_role_edit_name">
			<div class="mb_role_edit_key">
				账号名
			</div>
			<div class="mb_role_edit_value" ng-bind="agentAccountPsdCtrl.user.account">
				一级代理
			</div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				原密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountPsdCtrl.body.oldPassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				新密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountPsdCtrl.body.newPassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				重复密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountPsdCtrl.body.reNewPassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_submit" ng-click="agentAccountPsdCtrl.changePassword('needReNewPassword')">
			确认修改
		</div>
	</div>
	<div class="mb-input_contents" ng-if="agentAccountPsdCtrl.state=='other'">
		<div class="mb_role_edit_name">
			<div class="mb_role_edit_key">
				账号名
			</div>
			<div class="mb_role_edit_value"  ng-bind="agentAccountPsdCtrl.user.account">
				一级代理
			</div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountPsdCtrl.body.newPassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_submit" ng-click="agentAccountPsdCtrl.changePassword()">
			确认修改
		</div>
	</div>
</div>