<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content">
	<div class="account-addPosition" ng-if="agentAccountAddCtrl.isPC">
		<div class="account-title">账户管理->添加子账号</div>
		<div class="account-line"></div>
		<div class="account-inputs">
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>账号名:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.account">
				<span class="prompt">英文字母开头</span>
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>姓名:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.name">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>联系号码:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.tel">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">&nbsp;</span>加盟时间:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.enterDateString" placeholder="示例:2017/1/1">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<input style="display:none" type="text"/>
			<input style="display:none" type="password"/>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>密码:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.password">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div class="input_content">
				<div class="input_name"><span class="necessary">*</span>重复密码:</div>
				<input type="text" class="input_value" ng-model="agentAccountAddCtrl.accountInfo.rePassword">
				<!-- <span class="prompt">英文字母开头</span> -->
			</div>
			<div>
				<div class="account-save" ng-click="agentAccountAddCtrl.create()">保存</div>
				<div class="account-back" ui-sref="admin-account-view">返回</div>
			</div>
		</div>
	</div>
</div>


<div class="mobile-content" ng-if="!agentAccountAddCtrl.isPC">
	<div class="mb-account-addTitlePosition">
		<div class="mb-account-back" ui-sref="agent-account-view"></div>
		<div class="mb-account-addTitle">添加账号</div>
	</div>
	<div class="mb-input_contents">
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				账号*
			</div>
			<input class="inputBg" type="text" ng-model="agentAccountAddCtrl.accountInfo.account">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				姓名*
			</div>
			<input class="inputBg" type="text" ng-model="agentAccountAddCtrl.accountInfo.name">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				联系号码*
			</div>
			<input class="inputBg" type="text" ng-model="agentAccountAddCtrl.accountInfo.tel">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountAddCtrl.accountInfo.password">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_edit_name mb_role_edit_inputcell">
			<div class="mb_role_edit_key">
				重复密码*
			</div>
			<input class="inputBg" type="password" ng-model="agentAccountAddCtrl.accountInfo.rePassword">
			<div style="clear:both"></div>
		</div>
		<div class="mb_role_submit" ng-click="agentAccountAddCtrl.create()">
			确认添加
		</div>
	</div>
</div>